header {
  font-size: 2.3rem;
  nav {
    background-color: #576574 !important;
    color: #fff !important;
    & .head__title {
      font-size: 2.3rem;
      color: $color-btn-index !important;
      align-self: center;
      width: 27%;
    }
    & button {
      color: #fff !important;
    }
  }
  .nav-link {
    color: #fff !important;
  }
}
