*,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Ubuntu Mono", monospace;
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
}
h1 {
  color: #fff;
  font-weight: 900;
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}
a {
  text-decoration: none;
}
