.div--home {
  width: 99%;
  height: 90vh;
  font-family: "Ubuntu Mono", monospace;
  & .description,
  & .div--presentation {
    padding-top: 3%;
    margin: auto 0%;
    p {
      font-size: 2.6rem;
      text-align: center;
      text-justify: auto;
      width: 50%;
      margin: auto;
    }
    .para--me {
      padding-bottom: 2%;
      font-size: 3.4rem;
      & span {
        color: #ee5253;
      }
    }
  }
  //   & .container--photo {
  //     .para--sociaux {
  //       height: 10%;
  //       margin: auto 3%;
  //       a {
  //         width: 100%;
  //         font-size: 6rem;
  //         padding: 0%;
  //         &:hover {
  //           color: red;
  //         }
  //       }
  //     }
  //     img {
  //       object-fit: cover;
  //       width: 50%;
  //       max-height: 100%;
  //       align-self: flex-end;
  //     }
  //   }
  & .div--img {
    padding-top: 3%;
    img {
      object-fit: cover;
      width: 60%;
      height: 100%;
      align-self: center;
    }
  }
}

@media screen and (max-device-width: 480px) {
  .div--home {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    .div--presentation {
      .para--me, p {
        width: 100%;
        font-size: 1.4rem;
      }
    }
    & .div--img {
      img {
        width: 100%;
      }
    }
  }
}
