.div--home {
  width: 99%;
  max-height: 90vh;
  font-family: "Ubuntu Mono", monospace;
  & .description,
  & .div--presentation {
    margin: auto 0%;
    font-size: 3.4rem;
    padding-bottom: 8%;
    padding-top: 17%;
    p {
      text-align: center;
      text-justify: auto;
      width: 90%;
      margin: auto;
    }
    .para--me {
      padding-bottom: 2%;
      & span {
        color: #ee5253;
      }
    }
  }
  & .div--img {
    margin: auto 0%;
    img {
      object-fit: cover;
      width: 60%;
      max-height: 100%;
      align-self: center;
    }
  }
}
.section--about {
  background-color: #576574;
  padding: 4% 0%;
  & .div--about {
    font-size: 3rem;
    color: #fff;
    &--text {
    }
    &--details {
      font-size: 2rem;
    }
  }
}

@media screen and (max-device-width: 480px) {
  .div--home {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    .div--presentation {
      margin: 0;
      padding: 9% 0%;
      .para--me,
      p {
        width: 100%;
        font-size: 1.4rem;
      }
    }
    & .div--img {
      margin: 0;
      img {
        width: 100%;
      }
    }
  }
  .section--about {
    & .div--about {
      font-size: 1.4rem;
      text-align: center;
      &--text {
        &::after {
          content: "";
          display: block;
          width: 0%;
          height: 2px;
          background: #f3506b;
        }
      }
    }
  }
}
