@media all and (max-device-width : 890px){
    .container__head{
        @include block--flex--row;
        & .head__title{
            width: 100%;
            h1{
                width: 45%;
                margin: 1% auto;
            }
        }
        & .head__menu{
            width: 100%;
            .menu__liste{
                width: 80%;
                margin: 1% auto;
            }
            .menu__mobile{
                display: block;
            }
        }
    }
}
@media all  and (max-device-width :800px){
    .container{
        h2, .para--hard, i{
            font-size: 1.6rem;
        }
        &__head{
            background-color: $background--btn;
            .head__title, .head__menu{
                background-color: $background--btn;
            }
            .head__title{
                h1{
                    display: none;
                }
                .btn--mobile{
                    display: inline-block;
                    color: #fff;
                    background-color: transparent;
                }
            }
            .head__menu{
                .menu__liste{
                    position: relative;
                    @include block--flex--col;
                    top: 5%;
                    @include block--hide;
                }
                .menu__mobile{
                    width: auto;
                    & .menu__barre{
                        color: #fff;
                        width: 70%;
                        height: 20%;
                        font-size: 3rem;

                        svg{
                            color: #fff;
                        }
                    }
                }
            }
        }
        &__main{
            .section--1{
                & .section--div--1{
                    @include block--flex--col;
                    h2{
                        width: 28%;
                        margin: auto;
                        font-size: 1rem;
                    }
                    .para--hard{
                        text-align:center;
                        width: 33%;
                        margin: auto;
                        font-size: 1.7rem;
                    }
                    button{
                        width: 50%;
                        font-size: 2rem;
                    }
                }
            }
            .section--2{
                .section--div--2{
                    .div--technologie {
                        .div--soft{
                            width: 70%;
                            margin: auto;
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            figure{
                                margin: 2% 0%;
                                figcaption{
                                    font-size: 1.3rem;
                                    margin: 5% 0%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .section--3{
        & .section--div--3{
            & .projets--realise{
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               flex-wrap: wrap;
               .container-projet{
                   width: 46%;
               }
           }
       }
   }
    .section--div--4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-between;
        .div--contact{
            &--form{
                width: 90%;
                padding: 3%;
                margin-bottom: 4%;
            }
            &--details{
                font-size: 1.7rem;
            }
        }
        .div--contact--details{
            width: 97%;
        }
    }
    .section--5{
        .section--div--5{
            .div--apropos{
             width: 97%;
                & > p{
                    color: #dcdde1;
                }
            }

        }
    }
    footer{
        .details--coordonnees{
            display: none;
        }
    }
}
@media all and (max-device-width : 480px){
    .container{
        h2, .para--hard, i{
            font-size: 1.6rem;
        }
        &__head{
            background-color: $background--btn;
            .head__title, .head__menu{
                background-color: $background--btn;
            }
            .head__title{
                h1{
                    display: none;
                }
                .btn--mobile{
                    display: inline-block;
                    background-color: transparent;
                    
                }
            }
            .head__menu{
                .menu__liste{
                }
                .menu__mobile{
                    width: auto;
                    & a{
                        color: #fff;
                        width: 70%;
                        height: 20%;
                        font-size: 3rem;
                        & svg{
                            color: #fff;
                        }
                    }
                }
            }
        }
        &__main{
            .section--1{
                & .section--div--1{
                    @include block--flex--col;
                    h2{
                        width: 28%;
                        margin: auto;
                        font-size: 1rem;
                    }
                    .para--hard{
                        text-align:center;
                        width: 33%;
                        margin: auto;
                        font-size: 1.7rem;
                    }
                    button{
                        width: 50%;
                        font-size: 2rem;
                    }
                    .div--img--reseaux{
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        margin: 0 40%;
                    }
                }
            }
            .section--2{
                .section--div--2{
                    .div--technologie {
                        .div--soft{
                            width: 60%;
                            margin: 1% auto;
                            margin-left: 28%;
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);

                            figure{
                                grid-column-end: auto;
                                float: right;
                                figcaption{
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }
            .section--3{
                 & .section--div--3{
                     & .projets--realise{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        .container-projet{
                            width: 80%;
                        }
                    }
                }
            }
            .section--4{
                .h2--section--4 i{
                    font-size: 5rem;
                }
                .section--div--4{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: space-between;
                    .div--contact{
                        &--form{
                            width: 70%;
                            margin: 2% auto;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-content: space-between;
                            .btn--contact{
                                font-size: 2rem;
                                width: 35%;
                                margin: 0% auto;
                            }
                        }
                        &--details{
                            font-size: 1.7rem;
                        }
                    }
                    .div--contact--details{
                        p{
                            display: none;
                        }
                    }
                }
            }
            .section--4--hidden{
                display: none;
            }
            .section--5{
                .div--apropos{
                    p{
                        text-align: justify;
                    }
                    .para--hidden--apropos{
                        display: none;
                    }
                }
            }
        }
    }
    
}