$background--btn: #D80073;
$background--btn: #f8c291;
$border-radius-btn : 12px;
$border-radius-social : 100%;

$font-size-h2 : 2.3rem;

$color-btn-index :#fff;
$color-btn-orange : #D80073;
$color-btn-orange: #fd9644;
$color--blue : #273c75;
$colo--amour : #ee5253;